.list {
  margin-bottom: 0;

  .noRecordsFound {
    padding-top: 0;
  }

  :global {

    .panel-heading {
      background-color: transparent;
      font-weight: 100;
      color: #6e7179;
      border: none;
      border-radius: 0;

      .panel-title {
        font-size: 24px;
        border-bottom: 1px solid #e7eaec;
        padding-bottom: 5px;
        text-transform: capitalize;
      }
    }

    .list-group-item {
      border-radius: 0;
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    a {
      color: #337ab7; 
    }

    .btn-toolbar {
      position: absolute;
      right: 0;
      top: 8px;
    }
  }

  .panelHeaderTitle {
    text-align: left;
    position: relative;
  }

  .panelHeaderAddIcon {
    position: absolute;
    right: 0;
    color: #3c763d;
    cursor: pointer;

    :global {
      .fa {
        font-size: 24px;
      }
    }
  }
}

.btnUpload{
  border-color: transparent;
  color: #5c6f7c;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: left;

  &:hover, &:active, &:focus, &:disabled, &:active:focus {
    text-decoration: none;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }
}

.uploadFormControl {
  margin-top: 10px;
}