.eventItem{
  background: #f0f9fd;
}
.bottom{
  
}

.photo {
  height: 200px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  min-height: 200px;
  text-align: center;
  img{width: 100%}
}

.calendar{
  width: 75px;
  float: left;
  text-align: center;
  .month{
    color: red;
    font-weight: bold;
  }
  .day{

  }
}
.contentSmall{
  margin-left: 95px;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #999999;
    button {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}

.location{

}

.care{

}
.title{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  display: block;
  -webkit-margin-before: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  &:before{
    box-sizing: border-box;
  }
}

.BtnCare {
  margin-bottom: 10px;
  margin-right: 10px;
}

.wrapperButtonRight {
  text-align: right;
}