@import "../../theme/resources.scss";

a {
  cursor: pointer;
  text-decoration: none;
}

.postStatistic {
  padding: 10px 0px;
  a {
    color: $text-color-grey;
    padding-right: 10px;
    font-size: 11px;
  }
}

.commentPanel {
  margin: 0px;
  padding: 15px;
  font-size: 14px;
  background-color: #F3F6F8;
}

.likeColor {
  color: #f25268 !important;
}

.sharingPostModalButtonPrivacies {
  margin-right: 25px;
}
