.buildingAnnouncementItem {
  display: flow-root;
  padding: 1em;
  .buildingAnnouncementIcon {
    margin-right: 10px;
    float: left;
    i {
      color:#F4A460;
      background-color:	#D3D3D3;
      vertical-align: middle;
      border-radius: 50%;
      border: 0;
      font-size: 24px;
      padding: 12px;
    }
  }
  .buildingAnnouncementInfo {
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 8px;
    display: table-cell;
    strong {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
    small {
      color: #888888;
    }
  }
  .buildingAnnouncementButtons {
    display: block;
    float: right;
    margin-top: 8px;
  }
  @media (max-width: 992px) {
    .buildingAnnouncementInfo {
      strong {
        max-width: 150px;
      }
    }
    .buildingAnnouncementButtons {
      text-align: left;
      float: none;
    }
  }
}