.container {
  margin-top: 10px;
  padding-top: 15px; 
  background-color: #fff; 
}

.announcements {
  background-color: #ffdb9e;
  padding: 10px 15px;
  margin-bottom: 30px; 
}

.otherAnnouncements {
  padding: 10px 15px;
}

.header {
  margin-bottom: 20px;
  h3 {
    margin-top: 0px; 
  }
}

.announcementList {
  list-style: none;
  padding: 0;
}

@media (max-width: 992px) {
  .container {
    margin-top: 50px;
  }
}
