.container {
  margin-top: 10px;
  background-color: #fff; 
}

.header {
  margin-bottom: 20px; 
}

.buildingAnnouncementList {
  list-style: none;
  padding: 0;
}

@media (max-width: 992px) {
  .container {
    margin-top: 50px;
  }
}
