@global-import 'rc-table/dist/rc-table.min.css';
@global-import 'react-select/dist/react-select.css';

.containerTop30 {
  margin-top: 30px;
}

.container {
  background-color: #fff;
  padding: 15px 8px;

  a, a:hover, a:active {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-decoration-line: none;
  }

  ol {
    padding: 8px 1px;
    background-color: #fff;

    .breadcrumbItem {
      i {
        padding-right: 5px;
      }
    }
  }

  .stats {
    margin: 0;
    line-height: 34px;

    :global {
      .pull-left {
        font-style: italic;
        font-size: 13px;
        color: #d43f3a;
      }

      .pull-right {
        text-align: right;
        
        .fa-file-excel-o:before {
          font-size: 24px;
          line-height: 34px;
          color: #1b926c;
          cursor: pointer;
        }
      }
    }
  }

  .filter {
    padding-bottom: 20px;

    .label {
      text-align: right;
      line-height: 34px;
    }

    .apartment {

    }

    .resident {

    }

    .button {

    }
  }

  .datatable {
    margin-bottom: 0;

    table {
      border: 2px solid #52b9e9;
    }

    th, td {
      font-size: 14px;
      padding: 12px 6px;
      text-align: left;
    }

    th {
      background-color: #52b9e9;	
      font-weight: 700;
      color: #fff;
      border: 0;
    }

    :global {
      .rc-table {
        font-size: inherit;
        width: 100%;
      }
      
      .rc-table-placeholder {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .rc-table-row-expand-icon-cell {
        text-align: center;
      }

      th, td {
        &.rc-table-expand-icon-th, &.rc-table-row-expand-icon-cell {
          width: 5%;
        }

        &.actions {
          width: 10%;
        }

        &.apartmentName {
          width: 25%;
        }

        &.residentName {
          width: 40%;
        }

        &.residentRole {
          width: 20%;
        }
      }
      
    }

    td {
      color: #4c4c4c;
      font-weight: 400;

      a { 
        color: #0551ff;
      }
    }
  }

}

@media (max-width: 992px) {
  .containerTop30 {
    margin-top: 50px;
  }
}
