.top20 {
    margin-top: 20px;
}

.friendsList {
    display: block;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;    
    border-radius: 4px;
    .friendsContent {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        cursor: pointer;
        padding: 10px 20px;
        border-top: 1px solid #ddd;
        .friendsAvatar {
            width: 70px;
            height: 70px;
        }
        .friendsName {
            font-weight: bold;
            font-size: 15px;
            margin-left: 15px;
            line-height: 45px;
        }
    }
}

@media (max-width: 992px) {
  .top20 {
    margin-top: 50px;
  }
}