.container {
  background: #fff;
  min-height: 405px;

  :global {
    .input-group-addon {
      background-color: transparent;
      border: none;
    }
  }

  .contentMain {
    background: #fff;
    padding: 20px;
    .title {
      display: flex;
      i {
        font-size: 20px;
        line-height: 40px;
        margin-right: 15px;
      }
    }
    .item {
      line-height: 32px;
      display: flex;
    }
  }
}
.downloadFile {
  line-height: 40px;
  margin-left: 20px;
  color: blue;
  font-style: italic;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list {
  margin:0px;
  padding:0px;
  }
.list .file {
  width:100%;
  float:left;
  list-style:none;
  padding-top:10px;
  padding-bottom:10px;
  }
.list .file .box-text {
  float:left;
  width:125px;
  line-height:33px;
  font-size:14px;
  text-align:left;
  color:#4c4c4c;
  }
.list .file .box-right {
  margin-left:125px;
  }
.list .file .box-input {
  width:245px;
  float:left;
  border:1px solid #e1e9ee;
  height: 32px;
  border-radius: 4px;
  padding:4px 5px;

  }
.list .file .input-text {
  width:245px;
  float:left;
  border:1px solid #e1e9ee;
  height: 32px;
  border-radius: 4px;
  line-height:32px;
  background:url(./images/icon-calender.png) no-repeat 217px 5px;
}
.list .file.button .box-input {
  border:0px;
  height: auto;
  text-align:right;

  }
.list .file .box-input.over {
    overflow:hidden;
}
.box-full {
  width:100%;
  float:left;
}
.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.list .file  .checkbox-inline { margin-top:8px;}
.list .file .buttons {
  background-color:#0084bf;
  border:0px;
  padding:6px 15px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  display:inline-block;
  border-radius: 4px;
  margin-left:5px;
}
.list .file .buttons-huy {
  background-color:#f6f7f9;
  border:1px solid #d7d9dd;
  padding:5px 15px;
  color:#999999;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  display:inline-block;
  border-radius: 4px;
}
.btnToolbar {
  margin-top: 10px;
  margin-left: 0;
}
.inputCheckbox {
  cursor: pointer;
}
