.friendList {
  font-family: 'Roboto';
  padding: 11px;
  >h4 {
    padding: 0.5em 0 0 1em;
    font-size: 14px;
  }
  >ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      // border-bottom: 1px solid #dedede;
      border: none;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}