
a:hover {
  text-decoration: none;
  text-decoration-line: none;
}

.containerTop30 {
  margin-top: 30px;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0px;

  /* Banner */
  .banner {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 30px;
    position: relative;
    max-height: 320px;
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
    }

    .boxText {
      position: absolute;
      z-index: 1;
      bottom: 20px;
      left: 0px;
      right: 0px;
      text-align: center;
      width: 100%;

      h2 {
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: 0px;
      }
    }

    .link {
      background-color: transparent;
      border: 0px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      padding-top: 30px;
      display: inline-block;
    }
  }

  .mainContent {
    width: 100%;
    float: left;
    background-color:#fff;
    padding: 30px 15px;

    /*--css thong bao hoi dap*/
    .boxContent {
      width: 100%;
      float: left;
      margin-bottom: 30px;
      padding: 20px 15px;
      min-height: 240px;
      background-color: #f7f6f6;
      .title {
        font-size: 20px;
        font-weight: bold;
        color: #4c4c4c;
        float: left;
        width: 100%;
        text-align: left;
        margin: 0px;
      }

      .title .link {
        float: right;
        color: #0084bf;
        font-size: 14px;
        text-decoration: none;
      }

      .bgOrange {
        background-color: #ffdc9e;
      }
      .bgGray {
        background-color: #f7f6f6;
      }

      .listItem {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
        padding-top: 20px;

        li {
          width: 100%;
          float: left;
          list-style: none;
          padding-top: 5px;
          padding-bottom: 5px;

          h3 {
            display: block;
            color: #4c4c4c;
            font-size: 13px;
            font-weight: bold;
            margin: 0px;
            margin-top: 5px;
          }

          i {
            font-size: 20px;
            color: #cf9632;
            float: left;
            margin-right: 10px;
          }

          .red i {
            color: #ff0000;
          }

          .time {
            display: block;
            color: #737373;
            font-size: 11px;
            margin: 0px;
          }
        }
      }

      .listItem.thongBao i {
        width: 37px;
        height: 37px;
        float: left;
        background-color: #dfd9d9;
        text-align: center;
        line-height: 37px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }
    }

    .boxContent.bgOrange {
      background-color: #ffdc9e;
    }

    /*--end css thong bao hoi dap*/

    /*--css dich vu tien ich*/
    .titleTab {
      width: 100%;
      display: inline-block;
      position: relative;
      text-align: center;
      margin: 0px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: #4c4c4c;
      line-height: 46px;

      &:before {
        content: "";
        border-bottom: 2px solid #ccc;
        position: absolute;
        top: 22px;
        width: 100%;
        left: 0px;
      }

      span {
        display: inline-block;
        background-color: #fff;
        padding: 0px 3px;
        position: relative;
        z-index: 2;
      }
    }

    .boxItemService {
      margin-bottom: 15px;

      .itemService {
        width: 100%;
        float: left;
        margin: 15px 0;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }

        .boxTextItemService {
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          z-index: 1;
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(40, 62, 74, 0.5);

          h2 {
            width: 100%;
            bottom: 40px;
            font-size: 14px;
            color: #fff;
            font-weight: 700;
            text-align: center;
            position: absolute;
          }
        }

        &:hover .boxTextItemService {
          background: rgba(40, 62, 74, 0);
          transition: .4s ease-in-out all;
          h2 {
            bottom: 35%;

            span {
              padding: 3px 5px;
              transition: .2s ease-in-out all;
              background: rgba(40, 62, 74, 0.7);
            }
          }
        }
      }
    }
    /*--end css dich vu tien ich*/
  }
}

@media (max-width: 992px) {
  .containerTop30 {
    margin-top: 50px;
  }
}
