@import "../../theme/resources.scss";

.postContent {
  padding: 10px 0px;
  font-size: 13px;
   word-wrap: break-word;
    width:100%; 
    img {
      max-width: 100%;
    } 

  p {
    margin: 0;
    padding: 0;
  }
}