.containerTop30 {
  margin-top: 30px;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  background: #fff;
  padding: 20px;

  a, a:hover, a:active {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-decoration-line: none;
  }

  ul {
    list-style: none;
    padding: 0px;

    li {
      display: flex;
      margin-bottom: 15px;

      .pullLeft {
        float: left;
        min-width: 150px;

        i {
          color: #c7d1d8 !important;
        }

        label {
          color: #90949c !important;
        }
      }

      .pullRight {
        padding-top: 8px;
      }
    }
  }

  i {
    color: #4c4c4c;
    width: 40px;
    font-size: 24px;
    display: inline-block;
  }

  h4 {
    display: inline-block;
  }

  h3{
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .profileRight {
    margin-top: 7px;
  }

  .buttonAccept {
    background-color: #263E49;
    border: 0px;
    border-radius:4px;
    padding: 10px 15px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
  }

  .buttonCancel {
    border: 0px;
    border-radius:4px;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
  }
}

@media (max-width: 992px) {
  .containerTop30 {
    margin-top: 50px;
  }

  .container {
    ul {
      li {
        display: block;
        .pullLeft {
          float: none;
        }
        .pullRight {
          padding-left: 40px;
        }
      }
    }
  }

  .buttonAccept {
    width: 130px;
  }

  .buttonCancel {
    width: 130px;
  }
}
