@import "../../theme/resources.scss";
.BottomButtonGroup{
  padding: 0px 8px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  background: #ffffff;
  right: 8px;
  color: #40a3cf;
  line-height: 40px;
  text-align: center;
  z-index: 999;
}
.BottomButtonGroup::before{
  position: absolute;
  z-index: -1;
  content: "";
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 0px;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.AddEventButton {
  border: 0px !important;
  background: transparent !important;
}
.AddEventButton:hover{
  border: 0px !important;
  background: transparent !important;
}
.AddEventButton:active :focus{
  border: 0px !important;
  background: transparent !important;
}