
@global-import 'draft-js/dist/Draft.css';
@global-import 'react-datetime/css/react-datetime.css';

:global {
  .rdt {
    .rdtPicker {
      box-shadow: none;
      border: 1px solid #dedede;
      margin-top: 0;
    }
  }
}

a {
  cursor: pointer;
}

.btnUpload{
  color: #5c6f7c;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: left;
}

.layoutForButtonUpload {
  border: solid 1px #dedede;

  .buttonToolbar {
    padding: 10px;
  }

  .imgThumbnail {
    border-top: solid 1px #dedede;

    .imgResponsive {
      padding: 5px;
    }
  }
}

.btnPrivacies {
  margin-right: 25px;
}

.displayEndTime {
  text-align: right !important;
  line-height: 34px;
}

.fieldNameCenter{
  text-align: center;
  line-height: 40px;
}

.border {
  border: solid 1px #dedede;
}

.setPrivaryBtn{
  border-bottom-right-radius: 2;
  border-top-right-radius: 2;
}

.txtArea{
  width: 100%;
  min-height: 200px;
  padding: 5px;
  border: solid 1px #dedede;
}

.editor {
  padding: 8px;
  border: solid 1px #dedede;
  min-height: 200px;
  height: auto;
}

.errorText{
  font-size: 10px;
  color: red;
  font-style: italic;
}