@global-import 'rc-table/dist/rc-table.min.css';
@global-import 'react-select/dist/react-select.css';

.containerTop30 {
  margin-top: 30px;
}

.container {
  background: #fff;
  padding: 15px 8px;
  margin: 0px;

  a, a:hover, a:active {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-decoration-line: none;
  }

  ol {
    padding: 8px 1px 0px;
    background-color: #fff;
  }

  .panel-filter {
    margin-bottom: 10px;

    .label-filter {
      padding: 8px 0px;
    }

    :global {
      .rdt > input {
        background:url(./images/icon-calender.png) no-repeat 94% 6px;
      }
    }
  }

  :global {
    .rc-table-row > td {
      padding: 16px 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
    }

    .disabledReminderToPayFee::before {
      cursor: not-allowed;
      color: #5cb85c;
    }
  }
}

@media (max-width: 992px) {
  .containerTop30 {
    margin-top: 50px;
  }

  .container {
    .panel-filter {
      .item-filter {
        padding: 5px 0px;
      }
    }
    :global {
      .rc-table-row > td {
        padding: 16px 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80px;
      }
    }
  }

}
