@import "../../theme/resources.scss";

.postPanel {
  border: 1px solid #cdcdcd;;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
  .postHeaderLeft {
    width: 90%;
    float: left;
    display: flex;
    .time {
      font-size: 11px;
       color: $text-color-grey;
    }
    .avarta {
      img {
        width: 45px;
        height: 45px;
        margin: 4px 10px 0 0px;
      }
    }
    .userInfo {
      margin-top: 10px;
      a {
        color: black;
      }
    }
  }

  .postHeaderRight {
    width: 10%;
    display: inline-block;
    padding: 6px 9px;
    text-align: right;
    span {
      cursor: pointer;
      display: inline-block;
    }
    i {
      color: $text-color-grey;
      font-size: 7px;
    }
  }

  .postContent, .postStatistic {
    padding: 10px 0px;
    font-size: 13px;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .postStatistic a {
    color: $text-color-grey;
    padding-right: 10px;
    font-size: 11px;
  }

  .postControl {
    margin: 0px;
    padding: 10px 0;
    border-top: 2px solid #e6e9ec;
    a {
      padding-right: 5%;
      font-size: 13px;
      span {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
      }
    }

    i {
      color: $text-color-grey;
      font-size: 18px;
    }
  }
}

.likeColor {
  color: #f25268 !important;
}

.commentPanel {
  margin: 0px;
  padding: 15px;
  font-size: 14px;
  background-color: #F3F6F8;
}

/*********** Style mobile ***************/
@media (max-width: 992px) {
  .postPanel {
    .postHeaderLeft {
      width: 83%;
    }

    .postHeaderRight {
      width: 17%;
    }
  }
}
