.previewFees {
  :global {
    .modal-content {
      border-radius: 0;

      .modal-header {
        border-bottom: 0;

        .modal-title {
          text-align: center;
          text-transform: capitalize;
        }
      }

      .modal-body {
        table {
          margin-bottom: 0;
          
          thead {
            th {
              border-bottom: 1px solid #ddd;
              padding-top: 10px;
              padding-bottom: 10px;
              text-transform: capitalize;
              background-color: #f9f9f9;

              &:first-child {
              }

              &:last-child {
              }
            }
          }

          tbody {
            tr {
              td {
                padding-top: 10px;
                padding-bottom: 10px;

                &:first-child {
                }

                &:last-child {
                }
              }

              &:last-child {
                td {
                  
                }
              }
            }
          }
        }
      }

      .modal-footer {
        border-top: none;
        
        .btn-toolbar {
          display: inline-block;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .note {
    text-align: center;
    font-style: italic;
  }

  .TableWrapper{
    overflow-y: scroll;
    max-height: 350px;
    border: 1px solid #ddd;
  }
  
  .ErrorText {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;

    .panel-body {
      border-bottom: 0;
    }

    :global {
      .modal-content {
        border-radius: 0;
        border: none;
      }

      ul {
        padding: 0;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 0;
      }

      .list-group-item {
        border: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;

        .list-group-item {
          padding-bottom: 1px;
          padding-top: 1px;
          padding-left: 15px;
          padding-right: 15px;
          font-style: italic;
        }
      }
    }

    h5 {
      color: red;
      text-transform: capitalize;
    }
  }
}