@import "../../../../../theme/resources.scss";

.usersAwaitingApproval {
  .item {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ccc;

    .moreInfo {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .fullName {
      font-weight: bold;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .noRecordsFound {
    padding-top: 10px;
  }
}
.userDetailAwaitingApproval {
  .item {
    padding-top: 5px;
    padding-bottom: 5px;

    .label {
      font-weight: bold;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;

      &:last-child {
        margin-top: 2px;
      }
    }
  }
}
